.btn-outline-white {
  border-color: $white !important;
  color: white;
}

.btn-outline-white:hover {
  border-color: $active-hover !important;
  color: $active-hover !important;
}

.btn-outline-white::after {
  color: white;
}

.btn-outline-white::after:hover {
  color: $active-hover !important;
}

.dropdown-toggle::after {
  content: none !important;
  border: 0 !important;
}

.btn-outline-complementary {
  border-color: $complementary !important;
  color: $complementary !important;
}

.btn-outline-complementary:hover {
  border-color: $active-complementary !important;
  color: $active-complementary !important;
}


.mi-clase:not(::after) {
  /* Estilos sin ::after */
}
