<div class="container d-flex flex-column justify-content-center h-100">
  <div class="row justify-content-center">
    <div class="col-12 d-flex justify-content-center mb-5">
      <img src="../../../../../../assets/img/phantom.svg" alt="cute phantom image" style="">
    </div>
    <div class="col-12 d-flex justify-content-center mb-5">
      <h5>Propostes de la DAO
        <app-question-badge tooltipPlacement="bottom">
          Aquí prodréu gestionar una gran varietat de decisions mitjançant votacions.
        </app-question-badge>
      </h5>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <button type="button" class="btn btn-primary">Crear proposta</button>
    </div>
  </div>
</div>


