<div class="btn-group">
  <button type="button" class="btn btn-outline-white">
    <i class="fa-solid fa-circle-user text-white"></i>
  </button>
  <div class="btn-group" display="dynamic" ngbDropdown role="group" aria-label="Button group with nested dropdown">
    <button type="button" class="btn btn-outline-white" ngbDropdownToggle></button>
    <div class="dropdown-menu" ngbDropdownMenu>
<!--      <button ngbDropdownItem>One</button>-->
<!--      <button ngbDropdownItem>Two</button>-->
      <button ngbDropdownItem (click)="logout()">Logout</button>
    </div>
  </div>
</div>
