<div class="btn-group">
  <button type="button" class="btn btn-outline-white d-flex align-items-center gap-3 p-3">
    <i class="fa-solid fa-circle-user text-white" style="font-size: 2rem;"></i>
    <div class="row">
      <div class="col">
        <span class="text-white">{{ firstName | async }}</span>
      </div>
      <div class="col">
        <span class="text-white">
          {{ userWallet$ | async }}
        </span>
      </div>
    </div>
  </button>
  <div class="btn-group" display="dynamic" ngbDropdown role="group" aria-label="Button group with nested dropdown">
    <button type="button" class="btn btn-outline-white" ngbDropdownToggle></button>
    <div class="dropdown-menu" ngbDropdownMenu>
      <button ngbDropdownItem>Perfil</button>
      <button ngbDropdownItem>Wallet</button>
      <button ngbDropdownItem (click)="logout()">Logout</button>
    </div>
  </div>
</div>
