<div class="container-page">
  <div class="my-4">
    <h3 class="fw-bold"> Participants </h3>

    <div class="input-group mb-3" style="max-width: 675px">
      <input [(ngModel)]="filterText" (keyup)="getParticipantsByStatus(participantStatus)" type="text"
             class="form-control bg-white border-secondary border-1 border-end-0 shadow-none"
             placeholder="Buscar participant">
      <span class="input-group-text bg-white border-secondary border-1 border-start-0"><i
        class="fa-solid fa-magnifying-glass"></i></span>
    </div>

  </div>

  <div class="d-flex mb-3 py-2 py-md-0">
    <div class="me-3">
      <button class="btn" [ngClass]="participantStatus == 'active' ? 'btn-complementary' : 'btn-outline-complementary'"
              (click)="getParticipantsByStatus('active')"> Actius
      </button>
    </div>
    <div class="me-3">
      <button class="btn" [ngClass]="participantStatus == 'pending' ? 'btn-complementary' : 'btn-outline-complementary'"
              (click)="getParticipantsByStatus('pending')"> Pendents
      </button>
    </div>
  </div>

  <div *ngIf="!loading && participants.length != 0" class="overflow-y-scroll" style="max-height: 440px">
    <table class="table table-striped">
      <thead>
      <tr class="border-2 border-end-0 border-start-0 border-tertiary">
        <th scope="col">Nom</th>
        <th scope="col">Correu</th>
        <th scope="col">Accions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let participant of participants">
        <td>{{ participant.name }}</td>
        <td>{{ participant.email || '-'}}</td>
        <td>
          <i class="fa-solid fa-pen-to-square me-2"></i>
          <i class="fa-solid fa-xmark"></i>
        </td>
      </tr>
      </tbody>
    </table>
  </div>


  <div *ngIf="!loading && participants.length == 0">
    <h2 class="text-center">
      No hi ha cap participant
    </h2>
  </div>
</div>
