@import '../../../../../../../styles/colors';
:host {
  flex-grow: 1;
}

.active-tertiary{
  background-color: $tertiary !important;
  color: white !important;
  border-color: $tertiary !important;
}
