<div class="vh-100 d-flex flex-column">
  <app-navbar/>
  <div class="container flex-grow-1 d-flex flex-column justify-content-center">
    <div class="row justify-content-center">
      <div class="col-12 d-flex justify-content-center mb-5">
        <img src="assets/img/phantom.svg" alt="cute phantom image" style="">
      </div>
      <div class="col-12 d-flex justify-content-center mb-5">
        <h4>No tens accés a la teva comunitat. <app-question-badge text="Necessites formar part d'una comunitat per poder accedir"/></h4>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <button type="button" class="btn btn-primary">Dona't d'alta</button>
      </div>
    </div>
  </div>
</div>


