<div class="d-flex justify-content-center align-items-center bg-primary text-white flex-column flex-lg-row">
  <img class="m-5 order-0 order-lg-1" src="assets/img/generalitat.png" alt="Generalitat logo" style="max-width: 200px">
  <img class="m-5 order-1 order-lg-0" src="assets/img/europe.png" alt="UE logo" style="max-width: 300px">
  <img class="m-5 order-2" src="assets/img/zertifierlogo_blanc.png" alt="Zertifier logo" style="max-width: 250px">
</div>

<div class="d-flex justify-content-center gap-3 align-items-center bg-primary text-white">
  <p class="text-decoration-underline m-0">Política de privacitat</p>
  <a class="text-white" routerLink="/help">Ajuda</a>
</div>

