<div class="container-fluid my-3">
  <div class="d-flex justify-content-end">
    <button type="button" class="btn-close btn-sm" aria-label="Close" (click)="closeModal()"></button>
  </div>

  <h3 class="text-center m-auto">Alta cups</h3>

  <hr>

  <p>Emplena els següents camps per a associar els teus C.U.P.S. al teu perfil de la plataforma</p>

  <form class="d-flex flex-column gap-5" [formGroup]="formData">
    <div>
      <label for="service">Tria servei</label>
      <select id="service" class="form-select">
        <option value="datadis">Datadis</option>
      </select>
    </div>

    <div>
      <label for="dni">DNI/NIE <span class="text-danger">*</span></label>
      <input type="text" id="dni" class="form-control" formControlName="dni"/>
    </div>

    <div>
      <label for="user">Usuari <span class="text-danger">*</span></label>
      <input type="text" id="user" class="form-control" formControlName="username"/>
    </div>

    <div>
      <label for="password">Contrasenya <span class="text-danger">*</span></label>
      <input type="text" id="password" class="form-control" formControlName="password"/>
    </div>

    <div>
      <label for="cups">C.U.P.S. <span class="text-danger">*</span></label>
      <input type="text" id="cups" class="form-control" formControlName="cups"/>
    </div>

    <div class="d-flex justify-content-center">
      <button type="button" class="btn btn-primary" style="background-color: #0E5496; border-color: #0E5496;" (click)="registerCups()">Afegir dades</button>
    </div>
  </form>

</div>
