<div class="container mt-5">
  <h4>El meu perfil</h4>

  <form class="row">
    <div class="col-12 col-md-6">
      <label for="name">Nom (requerit)</label>
      <input id="name" type="text" class="form-control form-control-lg">
    </div>

    <div class="col-12 col-md-6">
      <label for="lastname">Cognom (requerit)</label>
      <input id="lastname" type="text" class="form-control form-control-lg">
    </div>

    <div class="col-6 mt-5">
      <div class="w-100 d-flex justify-content-end">
        <button type="button" class="btn btn-primary py-2 px-5">Guardar</button>
      </div>
    </div>
    <div class="col-6 mt-5">
      <button type="button" class="btn btn-secondary py-2 px-5">Cancel·lar</button>
    </div>
  </form>
</div>
