<div class="container mt-5">
  <h4>El meu perfil</h4>

  <form class="row" [formGroup]="formGroup">
    <div class="col-12 col-md-6">
      <label class="form-label" for="name">Nom (requerit)</label>
      <input id="name" type="text" class="form-control form-control-lg bg-white border-2 border-secondary" formControlName="firstname">
    </div>

    <div class="col-12 col-md-6">
      <label class="form-label" for="lastname">Cognom (requerit)</label>
      <input id="lastname" type="text" class="form-control form-control-lg bg-white border-2 border-secondary" formControlName="lastname">
    </div>

    <div class="col-12 col-md-6 mt-5">
      <div class="w-100 d-flex justify-content-end">
        <button (click)="saveData()" type="button" class="btn btn-primary py-2 px-5" [ngClass]="{'w-100': expandButtons$ | async}">
          Guardar
        </button>
      </div>
    </div>
    <div class="col-12 col-md-6 mt-2 mt-md-5">
      <div class="w-100 d-flex justify-content-start">
        <button type="button" class="btn btn-secondary py-2 px-5" [ngClass]="{'w-100': expandButtons$ | async}">
          Cancel·lar
        </button>
      </div>
    </div>
  </form>
</div>
