@import 'styles/colors';

.active {
  text-decoration: $active-hover underline !important;
  color: $active-hover !important;
  font-weight: normal !important;
}

.nav-link {
  font-weight: bold;
}

.navbar * {
  color: $white !important;
  border-color: $white !important;
}

.navbar-toggler-icon::before {
  color: $white !important;
}

