<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
<!--    <img class="navbar-brand" src="assets/img/logo.png" alt="logo" style="width: 20rem">-->

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/energy-stats/community'" [routerLinkActive]="'active'">La meva comunitat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/energy-stats/my-cup'" [routerLinkActive]="'active'">El meu comptador</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/energy-stats/share'" [routerLinkActive]="'active'">Compartir</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
