<div class="container-page">
  <h4>Estadístiques</h4>

  <h5>Rànquing</h5>

  <div class="row mb-4">
    <div class="col-12 col-md-6">
      <label class="form-label">
        Trïa el mes que vols veure
      </label>
<!--      <input class="form-control bg-white border-secondary" placeholder="10/2024">-->
      <p-calendar [(ngModel)]="date"  iconDisplay="input" [showIcon]="true" view="month"
                  [maxDate]="maxDate" [dateFormat]="'mm-yy'" styleClass="w-100 rounded-3 border-secondary"/>
    </div>
    <div class="col-12 col-md-6">
      <label class="form-label">
        Quines dades vols veure?
      </label>
      <input class="form-control bg-white border-secondary" placeholder="10/2024">
    </div>
  </div>
  <div *ngIf="!loading && data.length != 0" class="overflow-y-scroll" style="max-height: 440px">
    <div >
      <table class="table table-striped align-middle">
        <thead>
        <tr class="border-2 border-end-0 border-start-0 border-tertiary">
          <th style="max-width: 18%; width: 100%" scope="col">#</th>
          <th scope="col">Cartera</th>
          <th style="max-width: 20%; width: 100%" scope="col">Quantitat</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let dataObject of data; index as i" [ngClass]="dataObject.customerId == customerId ? 'fw-bold': ''" >
          <td >{{ i + 1 }}</td>
          <td>
            {{ (dataObject.walletAddress || '' | TextShorter:6:4) || 'Anònim' }}
            <span *ngIf="dataObject.customerId == customerId && userName">({{ userName || 'Tú' }})</span>
          </td>
          <td>{{ dataObject.consumption }} KWH</td>
        </tr>
        </tbody>
      </table>

    </div>

  </div>
</div>
