<app-navbar/>
<div class="container py-4">
  <h4 class="d-flex align-items-center gap-2">Aquest es el teu consum energetic<span style="font-size: 1rem;"><i
    class="fa-solid fa-circle fa-fade text-danger"></i></span></h4>
  <div class="d-flex gap-4 justify-content-around w-100" style="margin-bottom: 10rem">

    <app-stat-display
      width="20%"
      [color]="StatsColors.IN_HOUSE_CONSUMPTION"
      label="Consum propi"
      [text]="powerFlow().inHouse + ' KW'"/>

    <app-stat-display
      width="20%"
      [color]="StatsColors.PRODUCTION"
      label="Producció"
      [text]="powerFlow().production + ' KW'"/>

    <app-stat-display
      width="20%"
      [color]="StatsColors.BUY_CONSUMPTION"
      label="Compra d'energia"
      [text]="powerFlow().buy + ' KW'"/>

    <app-stat-display
      width="20%"
      [color]="StatsColors.SELL"
      label="Venta d'energia"
      [text]="powerFlow().sell + ' KW'"/>
  </div>

  <hr>

  <h1 class="text-center" style="margin-top: 10rem;">Producció</h1>
  <div class="d-flex justify-content-around mb-3">
    <button class="btn btn-secondary">
      Diari
    </button>
    <button class="btn btn-primary">
      Mensual
    </button>
    <button class="btn btn-secondary">
      Anual
    </button>
  </div>
  @if (!fetchingData) {
    <p-chart type="bar" [data]="data" [options]="options"/>
  } @else {
    <div class="w-100 d-flex justify-content-center flex-column gap-2 align-items-center">
      <h4>Getting data please wait</h4>
      <div>
        <i class="fa-solid fa-spinner fa-spin"></i>
      </div>
    </div>
  }
</div>
