<app-navbar/>
<div class="container my-5">
  <div class="mt-5 d-flex align-items-center justify-content-between">
    <p><span><i class="fa-solid fa-angle-right"></i></span> La cups de la teva comunitat</p>
    <p class="fst-italic">La teva despesa en viu <span><i class="fa-solid fa-rss fa-fade text-success"></i></span></p>
  </div>
  <div class="w-100">
    <p><span><i class="fa-solid fa-angle-right" style="color: transparent"></i></span> Membres d'aquesta comunitat: 32
    </p>
  </div>
  <h5 class="d-flex align-items-center gap-2 fw-bold ps-3">Aquest és el teu consum i producció energètica de la teva
    comunitat</h5>
  <div class="d-flex gap-4 justify-content-around w-100" style="margin: 10rem 0">

    <app-stat-display
      [disabled]="powerFlow().buy === 0"
      width="20%"
      [color]="StatsColors.BUY_CONSUMPTION"
      label="Consum"
      [text]="powerFlow().buy + ' KW'"/>

    <app-stat-display
      [disabled]="powerFlow().inHouse === 0"
      width="20%"
      [color]="StatsColors.IN_HOUSE_CONSUMPTION"
      label="Autoconsum"
      [text]="powerFlow().inHouse + ' KW'"/>

    <app-stat-display
      [disabled]="powerFlow().production === 0"
      width="20%"
      [color]="StatsColors.COMMUNITY_PRODUCTION"
      label="Energia generada"
      [text]="powerFlow().production + ' KW'"/>

    <app-stat-display
      [disabled]="powerFlow().sell === 0"
      width="20%"
      [color]="StatsColors.SURPLUS"
      label="Excedent"
      [text]="powerFlow().sell + ' KW'"/>
  </div>

  <div class="w-100" style="margin-bottom: 10rem;">
    <app-consumption-items [items]="consumptionItems"/>
  </div>

  <hr>

  <h5 style="margin: 10rem 0 5rem 0;" class="fw-bold">Històric consum/producció</h5>
  <app-historic-chart/>

</div>

<app-footer/>
