<div class="container d-flex flex-column justify-content-center h-100">
  <div class="row justify-content-center">
    <div class="col-12 d-flex justify-content-center mb-5">
      <img src="../../../../../../../assets/img/phantom.svg" alt="cute phantom image" class="ghost-img" style="">

    </div>
    <div class="mb-5 text-center">
      <h5>No tens accés a la teva comunitat.
        <app-question-badge>
          Necessites formar part d'una comunitat per poder accedir
        </app-question-badge>
      </h5>
      <h5>
        Per a accedir a les gràfiques del teu consum, necessites donar-te d'alta o unir-te a la comunitat.
      </h5>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <button type="button" class="btn btn-primary fw-medium">Dona't d'alta</button>
    </div>
  </div>
</div>


