<app-navbar/>
<div class="container my-5">
  <div class="mt-5 d-flex align-items-center justify-content-between">
    <p><span><i class="fa-solid fa-angle-right"></i></span> El meu CUPS <span class="text-secondary">(Cost Unitari de la Potència)</span></p>
    <p class="fst-italic">La teva despesa en viu <span><i class="fa-solid fa-rss fa-fade text-success"></i></span></p>
  </div>
  <div class="w-100">
    <p><span><i class="fa-solid fa-angle-right" style="color: transparent"></i></span> CUPS: ES0031446430838001WP0F</p>
  </div>
  <h5 class="d-flex align-items-center gap-2 fw-bold ps-3">Aquest és el consum producció</h5>
  <div class="d-flex gap-4 justify-content-around w-100" style="margin: 10rem 0">

    <app-stat-display
      width="20%"
      [color]="StatsColors.BUY_CONSUMPTION"
      label="Consum"
      [text]="powerFlow().buy + ' KW'"/>

    <app-stat-display
      width="20%"
      [color]="StatsColors.IN_HOUSE_CONSUMPTION"
      label="Autoconsum"
      [text]="powerFlow().inHouse + ' KW'"/>

    <app-stat-display
      width="20%"
      [color]="StatsColors.PRODUCTION"
      label="Energia generada"
      [text]="powerFlow().production + ' KW'"/>

    <app-stat-display
      width="20%"
      [color]="StatsColors.SELL"
      label="Excedent"
      [text]="powerFlow().sell + ' KW'"/>
  </div>

  <div class="w-100" style="margin-bottom: 10rem;">
    <app-consumption-items [items]="consumptionItems"/>
  </div>

  <hr>

  <h5 style="margin: 10rem 0 5rem 0;" class="fw-bold">Històric consum/producció</h5>
  <app-historic-chart/>
</div>

<app-footer/>
