<div class="container d-flex flex-column justify-content-center h-100">
  <div class="row justify-content-center">
    <div class="col-12 d-flex justify-content-center mb-5">
      <img src="assets/img/phantom.svg" alt="cute phantom image" style="">
    </div>
    <div class="col-12 d-flex justify-content-center mb-5">
      <h5>Sense C.U.P.S. no hi ha accés
        <app-question-badge>
          Necessites mínim un C.U.P.S. per poder accedir
        </app-question-badge>
      </h5>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <button type="button" class="btn btn-primary">Dona't d'alta</button>
    </div>
  </div>
</div>


