@import 'styles/colors';
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";


.nav-link {
  font-weight: bold;
}

.navbar * {
  border-color: $white !important;
}

.nav-link {
  font-size: 1.1rem;
  font-weight: 500;
  color: white !important;
}

.active, .nav-link:hover {
  //text-decoration: $active-hover underline !important;
  color: $active-hover !important;
}

.navbar-toggler-icon::before {
  color: $white !important;
}

.navbar-container {
  padding: 0.5rem 1rem;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .navbar-container {
    padding: 0.5rem 5rem;
  }
}

button.nav-item {
  background-color: $primary !important;
  color: white;
  border: 0 !important;
  font-weight: bold;
}


.custom-dropdown {
  background-color: $primary;
}



.custom-dropdown .dropdown-item:hover {
  color: $primary !important;
  background: $white;
}

.cursor-pointer {
  cursor: pointer;
}
