@if (hasEnoughSpace()) {
  <div class="d-flex justify-content-center align-items-center my-5" style="gap: 4rem;">
    <div class="d-flex gap-2 align-items-center">
      <div class="me-2" style="border-radius: 50%"
           [ngStyle]="{'background-color': StatsColors.VIRTUAL_SURPLUS, width: '1.5rem', height: '1.5rem'}"></div>
      <h3 class="m-0">Excedent</h3>
    </div>

    <p-knob [size]="250" [ngModel]="powerFlow().sell" [max]="powerFlow().production"
            [valueTemplate]="knobValue()" [readonly]="true"
            [valueColor]="StatsColors.VIRTUAL_SURPLUS" [rangeColor]="StatsColors.CONSUMPTION"></p-knob>
    <div class="d-flex gap-2 align-items-center">
      <div class="me-2" style="border-radius: 50%"
           [ngStyle]="{'background-color': StatsColors.CONSUMPTION, width: '1.5rem', height: '1.5rem'}"></div>
      <h3 class="m-0">Consum</h3>
    </div>
  </div>
} @else {
  <div class="w-100 px-2 d-flex justify-content-center">
    <p-knob [size]="knobSize()" [ngModel]="powerFlow().sell" [max]="powerFlow().production"
            [valueTemplate]="knobValue()" [readonly]="true"
            [valueColor]="StatsColors.VIRTUAL_SURPLUS" [rangeColor]="StatsColors.CONSUMPTION"></p-knob>

  </div>
  <div class="p-3 d-flex align-items-center justify-content-around">
    <div class="d-flex gap-2 align-items-center">
      <div class="me-2" style="border-radius: 50%"
           [ngStyle]="{'background-color': StatsColors.VIRTUAL_SURPLUS, width: '1.5rem', height: '1.5rem'}"></div>
      <span class="m-0">Excedent</span>
    </div>
    <div class="d-flex gap-2 align-items-center">
      <div class="me-2" style="border-radius: 50%"
           [ngStyle]="{'background-color': StatsColors.CONSUMPTION, width: '1.5rem', height: '1.5rem'}"></div>
      <span class="m-0">Consum</span>
    </div>
  </div>
}

