<div class="row justify-content-evenly mb-3">
  <div class="col-4">
    <h5>Tipus de dades</h5>
    <select class="form-select w-100" (change)="setChartResource($event)">
      <option [value]="ChartResource.ENERGY" [selected]="(chartResource$ | async) === ChartResource.ENERGY">Energia
        kwh
      </option>
      <option [value]="ChartResource.PRICE" [selected]="(chartResource$ | async) === ChartResource.PRICE">Preu
        energètic
      </option>
    </select>
  </div>

  <div class="col-4">

    <!--    TODO set the correct question message-->
    <h5>Model comunitari
      <app-question-badge>
        <strong>ACC</strong> (Auto Consum Compartit)
        <br>
        <strong>CCE</strong> (Consum Comunitari Energètic)
      </app-question-badge>
    </h5>
    <select class="form-select w-100" (change)="setChartType($event)">
      <option [selected]="(chartType$ | async) === ChartType.ACC">ACC</option>
      <option [selected]="(chartType$ | async) === ChartType.CCE">CCE</option>
    </select>
  </div>

  <div class="col-4">
    <!--    TODO set the correct question message-->
    <h5>Font de les dades
      <app-question-badge>
        Selecciona la plataforma des d'on prefereixis extreure i analitzar
        les dades relatives al consum, producció i excedent energètic.
      </app-question-badge>
    </h5>
    <select class="form-select w-100">
      <option selected>Datadis</option>
    </select>
  </div>
</div>

<div class="row justify-content-evenly my-4">
  <div class="col-4">
    <button (click)="setDateRange(DateRange.DAY)" class="btn rounded-4 py-3 w-100 text-center"
            [ngClass]="(dateRange$ | async) === DateRange.DAY ? 'btn-active' : 'btn-inactive'">
      <span class="d-block d-md-none">Diari</span>
      <span class="d-none d-md-block">Diari</span>

    </button>
  </div>
  <div class="col-4">
    <button (click)="setDateRange(DateRange.MONTH)" class="btn rounded-4 py-3 w-100 text-center"
            [ngClass]="(dateRange$ | async) === DateRange.MONTH ? 'btn-active' : 'btn-inactive'">
      <span class="d-block d-md-none">Mensual</span>
      <span class="d-none d-md-block">Mensual</span>
    </button>
  </div>
  <div class="col-4">
    <button (click)="setDateRange(DateRange.YEAR)" class="btn rounded-4 py-3 w-100 text-center"
            [ngClass]="(dateRange$ | async) === DateRange.YEAR ? 'btn-active' : 'btn-inactive'">
      <span class="d-block d-md-none">Anual</span>
      <span class="d-none d-md-block">Anual</span>
    </button>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-3 mb-4">
    <p-calendar [maxDate]="maxDate" (onSelect)="setDate($event)" (ngModelChange)="setInputDate($event)"
                [ngModel]="date$ | async" iconDisplay="input"
                [dateFormat]="(dateFormat$ | async) || 'yy'" [showIcon]="true" styleClass="w-100"
                [view]="(calendarView$ | async) || 'month'"/>

  </div>
</div>

@switch (origin$ | async) {
@case (ChartOrigins.DATADIS) {
<app-datadis-chart/>
}
@default {
<h3>Nothing to display</h3>
}
  }
