<div class="d-flex justify-content-evenly mb-3">
  <button (click)="setDateRange(DateRange.DAY)" class="btn rounded-4 py-3 px-5"
          [ngClass]="(dateRange$ | async) === DateRange.DAY ? 'btn-active' : 'btn-inactive'">
    Diari
  </button>
  <button (click)="setDateRange(DateRange.MONTH)" class="btn rounded-4 py-3 px-5"
          [ngClass]="(dateRange$ | async) === DateRange.MONTH ? 'btn-active' : 'btn-inactive'">
    Mensual
  </button>
  <button (click)="setDateRange(DateRange.YEAR)" class="btn rounded-4 py-3 px-5"
          [ngClass]="(dateRange$ | async) === DateRange.YEAR ? 'btn-active' : 'btn-inactive'">
    Anual
  </button>
</div>
<div class="row justify-content-center">
  <div class="col-md-3 mb-4">
    <p-calendar [maxDate]="maxDate" (onSelect)="setDate($event)" [ngModel]="date$ | async" iconDisplay="input"
                [dateFormat]="(dateFormat$ | async) || 'yy'" [showIcon]="true" styleClass="w-100"
                [view]="(calendarView$ | async) || 'month'"/>
  </div>
</div>

@switch (origin$ | async) {
  @case (ChartOrigins.DATADIS) {
    <app-datadis-chart/>
  }
  @default {
    <h3>Nothing to display</h3>
  }
}
