<div class="container-page">
  <div class="mt-5 d-flex align-items-center justify-content-between">
    <p class="fw-bold"><span><i class="fa-solid fa-angle-right"></i></span> La cups de la teva comunitat</p>
    <p class="fst-italic">La teva despesa en viu <span><i class="fa-solid fa-rss fa-fade text-danger"></i></span></p>
  </div>
  <div class="d-flex justify-content-between">
    <h4 style="font-weight: 600;">Consum i producció</h4>
    @if (lastUpdate$ | async) {
      <p>Actualitzat a les {{ lastUpdate$ | async }} <span class="ms-3 text-success" style="font-size: 0.8rem;"><i
        class="fa-solid fa-circle"></i></span></p>
    } @else {
      <p>No s'ha registrat cap dada</p>
    }
  </div>

  <div class="w-100 d-flex flex-column">
    <span>Membres d'aquesta
      comunitat: {{ totalMembers$ | async }}
    </span>
    <!--    TODO update active members-->
    <span>Membres actius: {{ (activeMembers$ | async) }}</span>
    <span><i class="fa-solid fa-battery-full"></i> 0%</span>
  </div>
  <div class="row justify-content-evenly w-100 mt-5" style="margin-bottom: 8rem;">

    <div class="col-6 col-lg my-3">
      <app-stat-display
        [disabled]="powerFlow().buy === 0"
        width="20%"
        [color]="StatsColors.CONSUMPTION"
        label="Consum"
        [text]="powerFlow().buy.toFixed(2) + ' KWH'"/>
    </div>

    <div class="col-6 col-lg my-3">
      <app-stat-display
        [disabled]="powerFlow().inHouse === 0"
        width="20%"
        [color]="StatsColors.IN_HOUSE_CONSUMPTION"
        label="Autoconsum"
        [text]="powerFlow().inHouse.toFixed(2) + ' KWH'"/>
    </div>


    <div class="col-6 col-lg my-3">
      <app-stat-display
        [disabled]="powerFlow().production === 0"
        width="20%"
        [color]="StatsColors.COMMUNITY_PRODUCTION"
        label="Energia generada"
        [text]="powerFlow().production.toFixed(2) + ' KWH'"/>
    </div>

    <div class="col-6 col-lg my-3">
      <app-stat-display
        [disabled]="powerFlow().sell === 0"
        width="20%"
        [color]="StatsColors.SURPLUS"
        label="Excedent"
        [text]="powerFlow().sell.toFixed(2) + ' KWH'"/>
    </div>
  </div>

  <div style="margin-bottom: 5rem;">
    <p class="fw-bold">Despesa genèrica:</p>
    <p>Aquesta és una estimació mitjana a Kwh de despesa que tenen els electrodomèstics a casa.</p>
  </div>

  <div class="w-100" style="margin-bottom: 7rem;">
    <app-consumption-items [items]="consumptionItems"/>
  </div>


  <p class="mt-5">
    Aquest gràfic mostra la teva despesa actual segons els electrodomèstics endollats. Per a optimitzar el consum, el
    percentatge indica si pots afegir més electrodomèstics o treure.
    <span style="color: #5F7187;">
    Per exemple, si es mes alt vol dir que pots afegir més aparells perquè has acumulat energia per a consumir.
  </span>
  </p>


  <div class="d-flex justify-content-center align-items-center my-5" style="gap: 4rem;">
    <div class="d-flex gap-2 align-items-center">
      <div class="me-2" style="border-radius: 50%"
           [ngStyle]="{'background-color': StatsColors.VIRTUAL_SURPLUS, width: '1.5rem', height: '1.5rem'}"></div>
      <h3 class="m-0">Excedent</h3>
    </div>

    <p-knob [size]="250" [ngModel]="powerFlow().sell" [max]="powerFlow().production"
            [valueTemplate]="knobValue()" [readonly]="true"
            [valueColor]="StatsColors.VIRTUAL_SURPLUS" [rangeColor]="StatsColors.CONSUMPTION"></p-knob>
    <div class="d-flex gap-2 align-items-center">
      <div class="me-2" style="border-radius: 50%"
           [ngStyle]="{'background-color': StatsColors.CONSUMPTION, width: '1.5rem', height: '1.5rem'}"></div>
      <h3 class="m-0">Consum</h3>
    </div>
  </div>

  <hr>

  <h5 style="margin: 7rem 0 5rem 0;" class="fw-bold">Històric consum/excedent</h5>
  <app-historic-chart/>

</div>
