<div class="container my-5">
  <div class="mt-5 d-flex align-items-center justify-content-between">
    <p class="fw-bold"><span><i class="fa-solid fa-angle-right"></i></span> La cups de la teva comunitat</p>
    <p class="fst-italic">La teva despesa en viu <span><i class="fa-solid fa-rss fa-fade text-danger"></i></span></p>
  </div>
  <div class="d-flex justify-content-between">
    <h5 class="gap-2 fw-bold ps-3">Aquest és el teu consum i producció energètica de la teva
      comunitat</h5>
    <!--TODO every time that we get a powerflow update this date-->
    @if (lastUpdate$ | async) {
      <p>Actualitzat a les {{lastUpdate$ | async}} <span class="ms-3 text-success" style="font-size: 0.8rem;"><i class="fa-solid fa-circle"></i></span></p>
    } @else {
      <p>No s'ha registrat cap dada</p>
    }
  </div>

  <div class="ms-3 w-100">
    <p>Membres d'aquesta
      comunitat: {{ totalMembers$ | async }}
    </p>
<!--    TODO update active members-->
    <p>Membres actius: 00</p>
  </div>
  <!--  <div class="d-flex gap-4 justify-content-around w-100" style="margin: 8rem 0">-->
  <div class="row justify-content-around w-100" style="margin: 7rem 0">

    <div class="col-6 col-lg my-3">
      <app-stat-display
        [disabled]="powerFlow().buy === 0"
        width="20%"
        [color]="StatsColors.BUY_CONSUMPTION"
        label="Consum"
        [text]="powerFlow().buy.toFixed(2) + ' KW'"/>
    </div>

    <div class="col-6 col-lg my-3">
      <app-stat-display
        [disabled]="powerFlow().inHouse === 0"
        width="20%"
        [color]="StatsColors.IN_HOUSE_CONSUMPTION"
        label="Autoconsum"
        [text]="powerFlow().inHouse.toFixed(2) + ' KW'"/>
    </div>


    <div class="col-6 col-lg my-3">
      <app-stat-display
        [disabled]="powerFlow().production === 0"
        width="20%"
        [color]="StatsColors.COMMUNITY_PRODUCTION"
        label="Energia generada"
        [text]="powerFlow().production.toFixed(2) + ' KW'"/>
    </div>

    <div class="col-6 col-lg my-3">
      <app-stat-display
        [disabled]="powerFlow().sell === 0"
        width="20%"
        [color]="StatsColors.SURPLUS"
        label="Excedent"
        [text]="powerFlow().sell.toFixed(2) + ' KW'"/>
    </div>
  </div>

  <div style="margin-bottom: 5rem;">
    <p class="fw-bold">Despesa genèrica:</p>
    <p>Aquesta és una estimació mitjana a Kwh de despesa que tenen els electrodomèstics a casa.</p>
  </div>

  <div class="w-100" style="margin-bottom: 7rem;">
    <app-consumption-items [items]="consumptionItems"/>
  </div>

  <hr>

  <h5 style="margin: 7rem 0 5rem 0;" class="fw-bold">Històric consum/excedent</h5>
  <app-historic-chart/>

</div>
