<div class="d-flex w-100" style="height: 100vh">
  <div [ngClass]="{'w-100': hideImage, 'w-50': !hideImage}" class="w-50">
    <div class="d-flex py-4 align-items-center flex-column w-100 h-100 justify-content-around">
      <div>
        <h1 class="text-center mb-3">EL MEU COMPTADOR</h1>
        <div class="d-flex justify-content-center w-100">
          <img src="assets/img/meter.png" alt="meter" class="text-center" style="width: 35%">
        </div>
      </div>

      <div
           class="d-flex flex-column align-items-center">
        <h2 class="text-center">Iniciar Sessió</h2>
        <button (click)="googleLogin()" [ngClass]="{'w-75': !hideImage, 'w-100': hideImage}"
                class="w-75 d-flex justify-content-around btn btn-dark rounded-pill my-3"
                (mouseenter)="googleActive = true"
                (mouseleave)="googleActive = false">
          @if (googleActive) {
            <img src="assets/img/connect/login-google-active.svg" alt="google-active"
                 style="width: 1.5rem; height: 1.5rem">
          } @else {
            <img src="assets/img/connect/login-google-light.svg" alt="google-light"
                 style="width: 1.5rem; height: 1.5rem">
          }
          Iniciar sessió amb google
        </button>
        <div class="container">

          <p>No guardem cap dada relacionada amb les teves credencials</p>
        </div>
        <h2 class="text-center">Web wallet</h2>
        <button (click)="webWalletLogin()" [ngClass]="{'w-75': !hideImage, 'w-100': hideImage}" class="btn btn-dark rounded-pill my-3">Iniciar sessió amb web wallet
        </button>
      </div>
      <div>
        <a routerLink="/help">Necessites ajuda?</a>
      </div>
      <div class="w-75">
        <hr class="border-dark opacity-100">
      </div>
      <div class="d-flex w-100 align-items-center justify-content-center gap-5">
        <img style="height: 2.5rem" src="assets/img/europe_black.png" alt="europe">
        <img style="height: 2.5rem" src="assets/img/login/generalitat.png" alt="generalitat">
        <img style="height: 2rem" src="assets/img/login/zertifier_logo_horizontal.png" alt="zertifier">
      </div>
    </div>
  </div>

  @if (!hideImage) {
    <img class="w-50 h-100" [src]="imageUrl" alt="random image">
  }
</div>
