<div class="w-100" [ngSwitch]="(currentBreakPoint | async)">
  <div class="w-100" *ngSwitchCase="BreakPoints.XS">
    <app-short-navbar/>
  </div>
  <div class="w-100" *ngSwitchCase="BreakPoints.SM">
    <app-short-navbar/>
  </div>
  <div class="w-100" *ngSwitchCase="BreakPoints.MD">
    <app-short-navbar/>
  </div>
  <div class="w-100" *ngSwitchCase="BreakPoints.LG">
    <app-large-navbar/>
  </div>
  <div class="w-100" *ngSwitchCase="BreakPoints.XL">
    <app-large-navbar/>
  </div>
  <div class="w-100" *ngSwitchCase="BreakPoints.XXL">
    <app-large-navbar/>
  </div>
</div>
