<div class="container my-3">
  <h2>Status</h2>
  <p>· Aquí podras veure el estat de les fonts de dades</p>


  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center gap-2">
          <h3 class="m-0">Datadis</h3>
          @if (lastUpdate) {
            <i class="fa-solid fa-circle fa-fade" [ngClass]="{'text-success': this.active, 'text-danger': !this.active}"></i>
          }
        </div>

        <span class="d-flex align-items-center">
        @if (lastUpdate) {
          Ultima actualització {{ lastUpdate }}
        } @else {
          No hi ha actualitzacions
        }
        </span>
      </div>
    </div>
  </div>
</div>
